:root {
    --primary-color: #E1EAEF;
    --accent-color: #4B78D6;
    --text-color: #3764c6;
    --font: 'ff-cocon-pro';
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    background: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font), Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 0;
}

h3 {
    margin: 0;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 2rem auto;
    max-width: 1140px;
}

/* Water */
.water {
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 0 7px #2e5abb;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.water:before, .water:after{
    background: #fff;
    content:'';
    height: 200%;
    left: 50%;
    position: absolute;
    top: -50%;
    width:200%;
}

.water:before{
    animation:wave 5s linear infinite;
    background:#fff;
    border-radius: 45%;
}

.water:after{
    animation:wave 5s linear infinite;
    background:rgba(255,255,255,.3);
    border-radius: 35%;
}

@keyframes wave{
    0%{
        top: -40%;
        transform: translate(-50%, -50%) rotate(0);
    }
    50%{
    	top: -60%;
    }
    100%{
        top: -40%;
        transform: translate(-50%, -50%)  rotate(360deg);
    }
}

@media screen and (min-width: 768px){
    h1 {
        font-size: 5rem;
    }

    .container {
        margin: 5rem auto;
    }
}

/* Grid */
.grid {
    color: var(--font-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2rem;
}

.grid__item {
    display: flex;    
    justify-content: center;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
}

.button {
    background: transparent;
    border: 0;
    margin: 2rem 0;
}

.button__container {
    align-items: center;
    background: var(--accent-color);
    border-radius: 100%;
    cursor: pointer;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    transition: 0.4s;
    width: 64px;
}

.button__image {
    filter: invert(100%) sepia(7%) saturate(5937%) hue-rotate(231deg) brightness(118%) contrast(94%);
    padding: 10px;
    width: 100%;
}

.button__container:hover {
    background: #3764c6;
    box-shadow: 0 0 4px #2e5abb;
}

button:disabled .button__container {
    background: #6b7ca0;
    box-shadow: none;
}

/* Progress bar */
.progress {
    background-color: #f7f7f7;
    border-radius: 30px;
    box-shadow: 0 0 7px #2e5abb;
    height: 2.5rem;
    margin: 0 auto;
    overflow: hidden;
    width: 80%;
}

.progress__bar {
    background-color: var(--accent-color);
    height: 2.5rem;
    transition: 0.7s ease-in-out;
    width: 0;
}